VUE_APP_NAME = "phylogenes-prod"
VUE_APP_API_URL = 'https://phylogenes-api.arabidopsis.org'
VUE_APP_TOMCAT_URL = 'https://phylogenes-data.arabidopsis.org'
VUE_APP_TREE_S3_URL = 'https://phg-panther-data-17.s3-us-west-2.amazonaws.com/'
VUE_APP_MSA_S3_URL = 'https://phg-panther-msa-data-17.s3-us-west-2.amazonaws.com/'
VUE_APP_S3_URL = 'https://phyloxml-17.s3-us-west-2.amazonaws.com/'
VUE_APP_CSV_S3_URL = 'https://s3.us-west-2.amazonaws.com/phylogenes-csv-4.1/'
VUE_APP_PUBLIC_URL = 'http://phylogenes-back.arabidopsis.org'
VUE_APP_LOGIN_DOMAIN = 'https://ui.arabidopsis.org'
VUE_APP_PROFILE_DOMAIN = 'https://www.arabidopsis.org'